#簡單版
CFG = {
    "NOISE_MODE": "upload",  # 先用上傳就好
    "NOISE_PATH": "/content/drive/MyDrive/NoiseR_data/NRtest_key.m4a",
    "NOISE_FILE": "NRtest_key.m4a",

    "N": 64,
    "SEG_SEC": 10,
    "SNR_LIST": [10, 5, 0, -5, -10],

    "N_FFT": 512,
    "HOP": 128,

    "CHANNELS": [16, 32, 64], #[32, 64, 128, 128],

    "LR": 1e-3,
    "EPOCHS": 50,
    "BATCH": 4,
}
